* {
    font-family: sans-serif;
}
.Error {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.Error h1 {
    font-size: 15rem;
}
.Error p {
    margin-top: 0;
    font-size: 2rem;
}
button {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
/* button:hover {
    transition: 1.5s;
    background-color: rgb(255, 224, 121);
} */