* {
    font-family: sans-serif;
}
.Error {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Error p {
    font-size: 62px;
    margin: 0;
}