* {
    font-family: sans-serif;
}
#root {
    position: relative;
    min-height: 100vh;
}
.About-Me {
    padding: 15px 10%;
    padding-bottom: 200px;
    overflow: hidden;    
    padding-top: 75px;
}
.About-Me h1 {
    text-transform: uppercase;
    text-align: start;
}
.About-Me #aboutMeParagraph {
    margin-top: 20px;
    line-height: 1.6em;
    font-size: 1.2rem;
}
.About-Me ul {
    display: inline;
}
.About-Me ul li {
    list-style-type: style type circle;;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 40px;
}
.About-Me #listHeading {
    margin-top: 20px;
    font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
    .About-Me {
        padding: 15px 10%;
        padding-bottom: 140px;
        overflow: hidden;    
        padding-top: 25px;
    }
    .About-Me h1 {
        text-transform: uppercase;
        font-size: 4rem;
    }
    .About-Me #aboutMeParagraph {
        font-size: 0.75rem;
    }
    .About-Me #listHeading {
        font-size: 0.75rem;
    }    
    .About-Me p {
        font-size: 0.75rem;
    }
}