.About-Me {
    padding-bottom: 200px;
    overflow: hidden;    
    padding-top: 60px;
    position: relative;
    min-height: 100vh;
}
.About-Me h1 {
    text-align: start;
    font-weight: bold;
    text-transform: uppercase;
}
.About-Me p {
    font-size: 1.2rem;
}
.About-Me #aboutMeParagraph {
    margin-top: 20px;
    line-height: 1.6em;
}
.About-Me ul {
    display: inline;
}
.About-Me ul li {
    list-style-type: style type circle;;
    margin-bottom: 0.5rem;
}
.About-Me #listHeading {
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .About-Me {
        padding-bottom: 160px;
        overflow: hidden;    
        padding-top: 25px;
    }
    .About-Me h1 {
        font-size: 4.5rem;
    }
    .About-Me p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .About-Me {
        padding-bottom: 160px;
        overflow: hidden;    
        padding-top: 25px;
    }
    .About-Me h1 {
        font-size: 3rem;
    }
    .About-Me p {
        font-size: 0.8rem;
    }
}