.about {
    padding: 30px 58px;
    white-space: normal;

    & > div {
        margin-bottom: 2rem;
    }    
    .education ul li {
        width: 720px; 
    }
    .education span.aut-title {
        display: block;
        font-weight: bold;
        margin-top: 10px;
        text-decoration: underline;
        width: min-content;
    }
    .education ul li > span {
        clear: both;
        float: right;
        position: relative; 
    }
    h2 {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    .languages ul {
        margin-top: 10px;
    }
}

.about .experience .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 15px 10px 15px;
    width: 28%;
}

.about .experience .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about .experience .card h3 {
    font-weight: bold;  
}

.about .experience .card p {
    margin: 15px 0 16px 0;
}

.aut ul li {
    display: inline;
    margin-right: 0.75rem;
}

@media screen and (max-width: 1600px) {
    .about .experience .card {

    }
}

@media screen and (max-width: 1200px) {
    .about .experience .card{
 
    }
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 480px) {

}