@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: #162914;
    color: #f2f8f1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.6rem;
  }

  main {
    min-height: 100dvh;
    margin-inline: auto;
    width: min(80ch, 100%);
  }

  h1,
  h2 {
    @apply font-bold text-xl;
  }
}

::selection {
  background: #6f8c2b;
}

.container-width {
  margin-inline: auto;
  width: min(80ch, 100%);
}

img {
  border-radius: 0.375rem;
}
