/* * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  position: relative;
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  overflow: hidden;
  background-color: rgb(255, 224, 121);
}
.App-header #Header-logo {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.App-nav {
  padding: 15px;
  width: 100%;
}
.App-nav ul {
  list-style: none;  
  text-decoration: none;
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 1.125rem;
}
.App-nav ul li {
  margin-left: 44px;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  #root {
    min-height: 100vh;
    position: relative;
  }
  .App-header {
    width: 100%;
    overflow: hidden;
  }
  .App-header #Header-logo {
    font-size: 1.75rem;
    font-weight: bold;
    pointer-events: none;
  }
  .App-nav {
    padding: 15px;
    width: 100%;
  }
  .App-nav ul {
    list-style: none;  
    text-decoration: none;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
  }
  .App-nav ul li {
    margin-left: 44px;
    margin-bottom: 12px;
  }
  .App-nav ul li:not(:last-child) {
    margin-left: 44px;
    margin-bottom: 12px;
    display: none;
  }
  .App-nav ul li:last-child {
    display: flex;
    right: 24px;
    top: 12px;
    position: absolute;
  }
} */
