/* .main {
    display: "flex";
    padding: "2% 8% 6% 8%"; 
    flex-direction:"column"; 
    background-color: "blue"; 
    justify-content: "center"; 
    align-items: "center";
}

#main_second {
    display: "inline";
    width: "100%";
    margin: "0 auto";
}

#home {
    flex-direction: "row";
    background-color: "lightblue"; 
    align-items: "center"; 
    justify-content: "center";
    display: "flex";
    padding: "15px 0px 15px 15px"; 
}

#socials {
    display: "flex";
    flex-direction:"column"; 
    align-items:"center";
    justify-content: "space-evenly";
    padding: "1% 2% 1% 2%";
}

#profile_content {
    background-color: "yellow"; 
    padding: "2% 4% 2% 4%"; 
    display:  "flex";
    flex-direction: "column"; 
    align-items: "center";
    justify-content: "center";
} */