#root {
    position: relative;
    overflow: hidden; 
}
.ProjectsContainer .Box {
    width: 75%;
}
.ProjectsContainer .ButtonLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    margin-bottom: 12px;

}
@media screen and (max-width: 768px) {
    .ProjectsContainer .Box {
        width: 100%;
        padding: 0;
    }
    .ProjectsContainer .Grid {
        width: 100%;
        display: block;
    }
    .ProjectsContainer .Grid .GridItem {
        max-width: 100%;
    }
    .ProjectsContainer .Grid .GridItem .CardTitle {
        font-size: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .ProjectsContainer .Box {
        width: 100%;
        padding: 0;
    }
    .ProjectsContainer .Grid {
        width: 100%;
        display: block;
    }
    .ProjectsContainer .Grid .GridItem {
        max-width: 100%;
    }
    .ProjectsContainer .Grid .GridItem .CardTitle {
        font-size: 1rem;
    }
}