@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  line-height: 1.6rem;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;

  @media only screen and (max-width: 560px) {
    width: min(60ch, 100% - 1.5rem);
  }
}
