@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    color-scheme: dark light;
  }

  body {
    font-family: "Inter", sans-serif;
  }

  img {
    display: block;
    max-width: 100%;
  }

  main,
  footer {
    margin-inline: auto;
    width: min(85ch, 100%);
  }
}

.icon-launch {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
