@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: #1a210af7;
    font-family: "Inter", sans-serif;
  }

  img {
    display: block;
    max-width: 100%;
  }

  main,
  footer {
    margin-inline: auto;
    width: min(80ch, 100%);
  }
}

.icon-launch {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

h1,
h2,
a,
span:not(.text-xs) {
  color: white;
}
