$theme-color: #cdc;
$white: #fff;
$black: #000;
$body: #727e82;

::selection {
  background: #cdc;
}
::-moz-selection {
  background: #cdc;
}

a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:visited,
  &.active {
    color: inherit;
  }
}

svg,
span {
  vertical-align: middle;
}

// media aliases and breakpoints
$sm-min: 600px;
$md-min: 960px;
$lg-min: 1280px;
$xl-min: 1920px;

$xs-max: 599px;
$sm-max: 959px;
$md-max: 1360px;
$lg-max: 1919px;
$xl-max: 5000px;

// media queries
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}
