.footer {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: row;
  padding: 32px 8px;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  span {
    font-weight: 600;

    span {
      vertical-align: initial;
    }
  }
  .stack {
    display: inline-block;
    margin-right: 0 auto;

    span {
      margin-right: 10px;
      vertical-align: initial;
    }
    svg {
      margin-right: 2px;
    }
  }
}
