.home {
  @include min-screen($sm-max) {
    width: auto;
  }

  color: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.intro {
  @include max-screen($md-max) {
    padding: 0 24px;
  }
  color: $white;

  .intro-title {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.4rem;

    span {
      font-weight: 600;
      border-bottom: 4px solid #000;
      line-height: 2.1rem;
    }
  }
}
