.not-found {
  align-items: center;
  color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  div {
    h1 {
      font-size: 12rem;
      font-weight: bold;

      @include max-screen($max-small) {
        font-size: 8rem;
      }
    }
    p {
      font-size: 1.2rem;
      margin: auto;
      white-space: normal;
      width: 500px;

      a {
        color: $theme-color;
      }

      @include max-screen($max-small) {
        font-size: 1rem;
        width: auto;
      }
    }
  }
}
