.page-not-found {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
}

.page-not-found h1 {
  font-size: 12rem;
  font-weight: bold;
}

.page-not-found span {
  display: block;
  font-size: 1.5rem;
}

.page-not-found ul.icons {
  margin-top: 40px;
  top: 0;
}

.page-not-found ul.icons li {
  align-self: center;
  display: inline;
  margin-right: 0.75rem;
}

.page-not-found ul.icons li > * {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .page-not-found h1 {
    font-size: 10rem;
  }
  .page-not-found span {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .page-not-found h1 {
    font-size: 8rem;
  }
  .page-not-found span {
    font-size: 1rem;
  }
}
