.projects {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;

  .cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    margin: 0 auto;
    place-items: center;

    @media only screen and (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4%;
    }

    .card {
      background-color: rgb(14, 14, 13);
      border-radius: 8px;
      color: #c3c8ca;

      height: 100%;
      padding: 4px 12px;
      width: 100%;
      line-height: 1.6rem;

      h3 {
      }
    }
  }
}
